{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
  <title>Ideias | Casa Criativa</title>
{% endblock title %}



{% block content %}
  <div id="container">
  <header>
    <a href="/">
      <img src="/logo.png" alt="Imagem da Logomarca">
    </a>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
    </nav>
  </header>
  <section id="title">
    <p>Em exibição</p>
    <h1>Ideias</h1>
  </section>
  <main>
    <section id="ideas">
      {% include "all_ideas.html" %}
    </section>
  </main>
  <footer>
    {% include "footer.html" %}
  </footer>
  </div>
{% endblock %}