<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap">
  {% block title%}
    <title>Casa Criativa</title>
  {% endblock title %}
  <link rel="stylesheet" href="/styles.css">
</head>
<body id="{{ bodyId }}">
    <div id="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Modal -->
    {% include "modal.html" %}

  <script src="/mains.js"></script>
</body>
</html>