<div id="modal" class="hide">
  <div class="content">
    <h1>Nova Ideia</h1>
    <form action="/" method="POST" onsubmit="return checkFields(event)"> 

      <div class="input-wrapper">
        <label for="title">Título da Ideia</label>
        <input type="text" name="title" required>  
      </div>

      <div class="input-wrapper">
        <label for="category">Categoria</label>
        <input type="text" name="category" required>
      </div>


      <div class="input-wrapper">
        <label for="img">Link da Imagem</label>
        <input type="url" name="img" required>
      </div>
      

      <div class="input-wrapper">
        <label for="description">Fale um pouco sobre a ideia</label>
        <textarea name="description" cols="30" rows="10" required></textarea>
      </div>

      <div class="input-wrapper">
        <label for="url">Link da Ideia</label>
        <input type="url" name="url" required>
      </div>

      <a href="#" onclick="onOff()">Voltar</a>
      <button>Salvar</button>
    </form>
  </div>
</div>
